# Arch files
/.github/ @uxlfoundation/onemath-arch-write
/.gitignore/ @uxlfoundation/onemath-arch-write
/cmake/ @uxlfoundation/onemath-arch-write
/deps/ @uxlfoundation/onemath-arch-write
/docs/ @uxlfoundation/onemath-arch-write
/examples/include/ @uxlfoundation/onemath-arch-write
/examples/CMakeList.txt @uxlfoundation/onemath-arch-write
/examples/README.md @uxlfoundation/onemath-arch-write
/include/oneapi/math.hpp @uxlfoundation/onemath-arch-write
/include/oneapi/math/detail/ @uxlfoundation/onemath-arch-write
/include/oneapi/mkl.hpp @uxlfoundation/onemath-arch-write
/include/oneapi/mkl/namespace_alias.hpp @uxlfoundation/onemath-arch-write
/scripts/ @uxlfoundation/onemath-arch-write
/src/include/ @uxlfoundation/onemath-arch-write
/src/CMakeLists.txt @uxlfoundation/onemath-arch-write
/src/config.hpp.in @uxlfoundation/onemath-arch-write
/tests/CMakeLists.txt @uxlfoundation/onemath-arch-write
/tests/README.md @uxlfoundation/onemath-arch-write
/tests/unit_tests/include/ @uxlfoundation/onemath-arch-write
/tests/unit_tests/CMakeLists.txt @uxlfoundation/onemath-arch-write
/tests/unit_tests/main_test.cpp @uxlfoundation/onemath-arch-write
/third-party-programs/ @uxlfoundation/onemath-arch-write
/CMakeLists.txt @uxlfoundation/onemath-arch-write
/CODE_OF_CONDUCT.md @uxlfoundation/onemath-arch-write
/CONTRIBUTING.md @uxlfoundation/onemath-arch-write
/LICENSE @uxlfoundation/onemath-arch-write
/MAINTAINERS.md @uxlfoundation/onemath-arch-write
/README.md @uxlfoundation/onemath-arch-write
/SECURITY.md @uxlfoundation/onemath-arch-write
/_clang-format @uxlfoundation/onemath-arch-write
/legal_information.md @uxlfoundation/onemath-arch-write

# BLAS files
/examples/blas/ @uxlfoundation/onemath-blas-write
/include/oneapi/math/blas/ @uxlfoundation/onemath-blas-write
/include/oneapi/math/blas.hpp @uxlfoundation/onemath-blas-write
/include/oneapi/math/blas.hxx @uxlfoundation/onemath-blas-write
/include/oneapi/math/bfloat16.hpp @uxlfoundation/onemath-blas-write
/include/oneapi/mkl/blas.hpp @uxlfoundation/onemath-blas-write
/src/blas/ @uxlfoundation/onemath-blas-write
/tests/unit_tests/blas/ @uxlfoundation/onemath-blas-write

# DFT files
/examples/dft/ @uxlfoundation/onemath-dft-write
/include/oneapi/math/dft/ @uxlfoundation/onemath-dft-write
/include/oneapi/math/dft.hpp @uxlfoundation/onemath-dft-write
/include/oneapi/mkl/dft.hpp @uxlfoundation/onemath-dft-write
/src/dft/ @uxlfoundation/onemath-dft-write
/tests/unit_tests/dft/ @uxlfoundation/onemath-dft-write

# LAPACK files
/examples/lapack/ @uxlfoundation/onemath-lapack-write
/include/oneapi/math/lapack/ @uxlfoundation/onemath-lapack-write
/include/oneapi/math/lapack.hpp @uxlfoundation/onemath-lapack-write
/include/oneapi/mkl/lapack.hpp @uxlfoundation/onemath-lapack-write
/src/lapack/ @uxlfoundation/onemath-lapack-write
/tests/unit_tests/lapack/ @uxlfoundation/onemath-lapack-write

# RNG files
/examples/rng/ @uxlfoundation/onemath-rng-write
/include/oneapi/math/rng/ @uxlfoundation/onemath-rng-write
/include/oneapi/math/rng.hpp @uxlfoundation/onemath-rng-write
/include/oneapi/mkl/rng.hpp @uxlfoundation/onemath-rng-write
/include/oneapi/mkl/rng/device.hpp @uxlfoundation/onemath-rng-write
/src/rng/ @uxlfoundation/onemath-rng-write
/tests/unit_tests/rng/ @uxlfoundation/onemath-rng-write

# Sparse BLAS files
/examples/sparse_blas/ @uxlfoundation/onemath-sparse-write
/include/oneapi/math/sparse_blas/ @uxlfoundation/onemath-sparse-write
/include/oneapi/math/sparse_blas.hpp @uxlfoundation/onemath-sparse-write
/include/oneapi/mkl/sparse_blas.hpp @uxlfoundation/onemath-sparse-write
/src/sparse_blas/ @uxlfoundation/onemath-sparse-write
/tests/unit_tests/sparse_blas/ @uxlfoundation/onemath-sparse-write

# Shared files
/include/oneapi/math/types.hpp @uxlfoundation/onemath-blas-write @uxlfoundation/onemath-lapack-write
